@import "tailwindcss";

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@utility animate-slide {
  animation: slide 40s linear infinite;
}

body {
  font-family: "Montserratarm", sans-serif;
}

.swiper-slide {
  height: auto !important;
  display: flex;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}