@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes slide {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .animate-slide {
    animation: slide 40s linear infinite;
  }
}

body {
  font-family: "Montserratarm", sans-serif;
}

.swiper-slide {
  height: auto !important;
  display: flex;
}

