@font-face {
	font-family: "Montserratarm";
	src: url("/assets/fonts/montserrat-armenian/Montserratarm-Regular.otf") format("opentype");
	font-display: swap;
}

* {
	font-family: "Montserratarm", sans-serif !important;
}

* {
	font-family: "Montserratarm", sans-serif !important;
}

.Montserratarm,
.Montserratarm * {
	font-family: "Montserratarm", sans-serif !important;
}
